name: Python application

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
    - name: "Install unit test module"
      run: |
        git clone https://github.com/ucsc-vama/compare-gen.git
        cd compare-gen
    - name: fetch submodule
      run: git submodule update --init --remote
    - name: update remote submodule
      run: git submodule update --recursive --remote
    - name: run test
      run: |
        python3 BruteTest.py -t uint -s 3